[submodule "lisp/LaTeX-auto-activating-snippets"]
	path = lisp/LaTeX-auto-activating-snippets
	url = https://git.tecosaur.net/tec/LaTeX-auto-activating-snippets.git
[submodule "lisp/org-pandoc-import"]
	path = lisp/org-pandoc-import
	url = https://git.tecosaur.net/tec/org-pandoc-import.git
